#mio_var{
    color: red;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    border: 2px solid darkmagenta;
    border-radius: 2rem;
    margin: 4rem;
    animation: mymove 5s infinite;
}

#mio_var:hover{
    background-color: aquamarine;
    color: cornflowerblue;
    border: 0.25rem solid darkslateblue;
    border-radius: 10%;
}

@keyframes mymove {
    50% {transform: rotate(360deg);}
  }